{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "check-coverage": true,
  "reporter": [
    "html",
    "json",
    "text"
  ],
  "include": [
    "src/*.ts"
  ],
  "exclude": [
    "src/*.spec.ts"
  ]
}
